// Заголовки, загальні БЕМ блоки та інше...

.title {
  font-family: Wix Madefor Display;
  @include adaptiveValue("font-size", 40, 32);
  line-height: 127.5%; /* 51/40 */
  font-weight: 700;
  text-transform: uppercase;
}
.number {
  display: flex;
  justify-content: center;
  padding-top: rem(40);

  @media (max-width: $mobile) {
    margin: 0 rem(-10);
  }

  img {
    max-width: 100%;
  }
}

//========================================================================================================================================================

.fancybox__container {
  max-width: none;
}

//========================================================================================================================================================

.play-btn {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include adaptiveValue("font-size", 105, 75);
    z-index: 2;
    color: #fffdf7;
  }
}
