//====================================================================================================
.header {
  position: absolute;
  width: 100%;

  @include adaptiveValue("padding-top", 45, 25);
  @include adaptiveValue("padding-bottom", 45, 25);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #313131;
    border-bottom: 1px solid #313131;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition:
      left 0.3s ease 0s,
      border-color 0.3s ease 0.3s;

    .menu-open & {
      left: 0;
      border-color: #fffdf7;
    }
  }
  &__container {
  }

  &__menu {
  }
}
.menu {
  &__icon {
  }

  &__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #313131;
    @include adaptiveValue("padding-top", 130, 100);
    padding: rem(130) rem(15) rem(40) rem(15);
    z-index: 4;
    border-right: 1px solid #313131;
    transition: left 0.3s ease 0s;

    .menu-open & {
      left: 0;
    }

    @media (min-width: $pc) {
      padding-left: calc((100vw - 1200px) / 2);
      padding-right: calc((100vw - 1200px) / 2);
    }
  }

  &__list {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__link {
    display: inline-block;
    color: #fffdf6;

    font-family: Wix Madefor Display;
    @include adaptiveValue("font-size", 40, 24);
    line-height: 127.5%; /* 51/40 */
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        border-color: rgba(81, 81, 81, 0.9);
        color: rgba(81, 81, 81, 0.9);
      }
    }
  }

  &__sublist {
    margin-top: rem(20);
  }

  &__subitem {
    position: relative;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    @include adaptiveValue("padding-left", 69, 45);

    &::before {
      content: "";
      display: block;
      width: rem(40);
      @include adaptiveValue("width", 40, 30);
      height: rem(4);
      border-radius: 1px;
      background-color: #ffd12f;

      position: absolute;
      left: 0;
      top: rem(24);

      @include adaptiveValue("top", 24, 13);
    }
  }

  &__sublink {
    color: #fffdf6;
    font-family: Inter;
    font-style: italic;
    @include adaptiveValue("font-size", 40, 24);
    line-height: 127.5%; /* 51/40 */
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    opacity: 0.7;
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: block;
  position: relative;
  @include adaptiveValue("width", 50, 40);
  @include adaptiveValue("height", 16, 14);
  z-index: 5;
  @media (any-hover: none) {
    cursor: default;
  }
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(4);
    background-color: #fffdf7;
    border-radius: rem(1);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - rem(2));
  }
  .menu-open & {
    span {
      width: 0;
    }
    &::before,
    &::after {
    }
    &::before {
      top: calc(50% - rem(2));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(2));
      transform: rotate(45deg);
    }
  }
}
